
.section.light-blue.lighten-1#index-banner(style="padding:2px")
  .container
    .nav-wrapper
        .row(style="margin-bottom:0px")
            a.button-collapse.hide-on-large-only.top-nav.waves-effect.waves-light.circle(data-activates="nav-mobile",href="#")
              i.material-icons menu
            span#totalusuarios.material-icon(style="color:white;padding-top:10px;") 
            i.material-icons(style="color:white") supervisor_account &nbsp;&nbsp;
            div(style="display:inline;")
            if nickname
                a#btnBound(onclick="encuadrarMapa()",title="Encuadrar",style="color:white;") &nbsp;&nbsp;
                    i.material-icons my_location
                a.left-align.modal-trigger(style="color:white;",href="#modal1",title="Info") &nbsp;&nbsp;
                    i.material-icons info
                i#iconsender.material-icons(style="padding-right:10px") settings_input_antenna
                a#btnLogout.right-align(style="color:white;float:right;right:10px",href="#",title="Salir")
                     i.material-icons settings_power
            div(style="display:none")
              input(type="hidden",id="roomid", value="#{roomid}")
              input(type="hidden",id="nickname", value="#{nickname}")
              input(type="text",id="lat", value="#{lat}")
              input(type="text",id="lng", value="#{lng}")
              input(type="hidden",id="color", value="#{color}")      

#modal1.modal
    .modal-content
        h4 Info
        p Lorem Ipsum
    .modal-footer
        a.modal-action.modal-close(href="#!")