
.section.light-blue.lighten-1#index-banner(style="padding:2px;height:52px")
        .row(style="")
                table(style="border:0px solid red;width:100%;padding:0px;margin:0px")
                    tr
                        td
                            a.button-collapse.hide-on-large-only.top-nav.waves-effect.waves-light.circle(data-activates="nav-mobile",href="#")
                                i.material-icons(style="color:white;") menu
                                
                            span &nbsp;
                            
                            span#totalmensajes(style="color:black;")
                            i#icontotalmensajes.material-icons(style="color:black; width:25px") comment_alert

                            span &nbsp;
                            
                            span#totalusuarios.material-icon(style="color:white;") 
                            i.material-icons(style="color:white") supervisor_account 
                            
                            span &nbsp;
                            
                            a#btnBound(onclick="encuadrarMapa()",title="Encuadrar",style="color:white;")
                                i.material-icons my_location
                                
                        td(style="width:40px;")  
                            span &nbsp;
                            i#iconsender.material-icons(style="") settings_input_antenna
                            
                        td(style="text-align:right")    
                            span &nbsp;
 
                            a.modal-trigger(style="color:white;",href="#modal1",title="Info") &nbsp;
                                i.material-icons info
                                    
                            span &nbsp;&nbsp;
                             
                            a#btnLogout(style="color:white;",href="#",title="Salir")
                                 i.material-icons settings_power
                    
                div(style="display:none")
                  input(type="hidden",id="roomid", value="#{roomid}")
                  input(type="hidden",id="nickname", value="#{nickname}")
                  input(type="hidden",id="lat", value="#{lat}")
                  input(type="hidden",id="lng", value="#{lng}")
                  input(type="hidden",id="color", value="#{color}")      

#modal1.modal
    .modal-content
        
        h3(style="color:brown")  WhereAreWe?-express
        p Where Are We <br>(NodeJS - Express -SocketIO)
        
        h4 Learn
        p Práctica a título personal de NodeJS y Express
        
        h4 Tecnologías
        p Para esta práctica se ha utilizado.
        ul
         li NodeJS
         li ExpressJS
         li Socket.io
         li Jade Engine
         li MaterializeCSS
         li SASS
         li npm packages
         li bower y gulp
         li heroku deploy vía Github
         
        h4 Sin base de datos
        span El primer objetivo es realizar un sistema en tiempo real (chat y geolocalización) muy muy simple y efímero. 
        br 
        span No se utiliza base de datos alguna, ni acumulación de mensajes ni siquiera variables de session para evitar <b>memory leaks</b> de node.js, al mismo tiempo que se pretende mantener multiples <b>Rooms</b> sin solapamiento de mensajes ni coordenadas.
        
        h4 Author
        span Dani Morte (@socendani) <socendani AT gmail dot com>  <br>
        a(href="https://github.com/socendani/wherearewe-express",target="_blank") https://github.com/socendani/wherearewe-express
        br
        span 2016 #{title}.

    .modal-footer
        a.modal-action.modal-close(href="#!")