
.section.light-blue.lighten-1#index-banner(style="padding:2px;height:32px")
  .container
        .row(style="vertical-align:bottom;")
            .col.s12
                a.button-collapse.hide-on-large-only.top-nav.waves-effect.waves-light.circle(data-activates="nav-mobile",href="#")
                    i.material-icons(style="color:white;vertical-align: 5px;") menu

                if nickname
                    span#totalmensajes(style="color:black;vertical-align: 5px;")
                    a#icontotalmensajes.button-collapse.material-icons.top-nav(style="color:black",data-activates="nav-mobile",href="#") comment_alert

                    a#btnBound(onclick="encuadrarMapa()",title="Encuadrar",style="color:white;") &nbsp;&nbsp;
                        i.material-icons my_location
                        
                    a.left-align.modal-trigger(style="color:white;",href="#modal1",title="Info") &nbsp;&nbsp;
                        i.material-icons info
                    
                    span#totalusuarios.material-icon(style="color:white;vertical-align: 5px;") 
                    i.material-icons(style="color:white") supervisor_account 

                    
                    a#btnLogout(style="color:white;float:right;right:10px",href="#",title="Salir")
                         i.material-icons settings_power
                    
                    i#iconsender.material-icons(style="float:right;") settings_input_antenna
                    
                div(style="display:none")
                  input(type="hidden",id="roomid", value="#{roomid}")
                  input(type="hidden",id="nickname", value="#{nickname}")
                  input(type="hidden",id="lat", value="#{lat}")
                  input(type="hidden",id="lng", value="#{lng}")
                  input(type="hidden",id="color", value="#{color}")      

#modal1.modal
    .modal-content
        
        h3  wherearewe-express
        p Where Are We (NodeJS - Express -SocketIO)
        
        h4 Learn
        p Práctica a título personal de NodeJS y Express
        
        h4 Tecnologías
        p Para esta práctica se ha utilizado.
        ul
         li NodeJS
         li ExpressJS
         li Socket.io
         li Jade Engine
         li MaterializeCSS
         li SASS
         li npm packages
         li bower y gulp
         li heroku deploy vía Github
         
        h4 Sin base de datos
        p El primer objetivo era realizar un sistema en tiempo real muy simple pero efímero. No se utiliza base de datos alguna ni acumulación de mensajes en variables, al mismo tiempo se pretende mantener multiples Rooms sin solapamiento de mensajes ni coordenadas.
        
        h4 Author
        span Dani Morte (@socendani) <socendani AT gmail dot com>  <br>
        a(href="https://github.com/socendani/wherearewe-express",target="_blank") https://github.com/socendani/wherearewe-express
        br
        span 2016 #{title}.

    .modal-footer
        a.modal-action.modal-close(href="#!")