extends layout/login
block content
    .row(style="margin-top:5%")
        .col.sm4(style="border:0px solid yellow")
          .card.blue.darken-4.center
            .card-content.white-text
              form(name="form_entrada", method="post", action="login",autocomplete="off")
                    h4(style="display:inline") Where Are We 
                    span v.#{version}
                    
                    
                    input.input-field(type="text",name="nickname",placeholder="#{nickname}",autocomplete="off",autofocus,style="margin-top:40px")

                    br
                    label Entra en una habitación
                    input.input-field(type="text",name="room",value="#{room}",placeholder="#{room}",autocomplete="off")

                    br
                    label Escoge un color
                    br
                    input(type="color",name="color",value="##{color}",style="padding:0px;border-width:0px")

                    br
                    br
                    button.btn.waves-effect.waves-light(type="submit") #{fraseboton}