extends layout/login
  

block content
     
  h5 Users
  ul
  each user in users
      li <b>[#{user.room}]</b><div  class="cuadro_user" style="display:inline;background-color:##{(user.color)}">&nbsp;#{(user.nickname)}&nbsp;</div>(#{user.lat},#{user.lng})

  h5 Mensajes
  ul
  each mensaje in mensajes
      li <b>[#{mensaje.room}]</b> <div  class="cuadro_user" style="display:inline;background-color:##{(mensaje.color)}">&nbsp;#{(mensaje.nickname)}&nbsp;</div> [#{(mensaje.color)}] #{mensaje.mensaje} (#{mensaje.fecha})

  h5 Logs
  ul
  each log in logs
      li <b>[#{(log.level)}] [#{log.room}]</b> <div  class="cuadro_user" style="display:inline;background-color:##{(log.color)}">&nbsp;#{(log.nickname)}&nbsp;</div> #{log.description} (#{log.fecha})

  script.
    setInterval(function() {location.reload();} , 10000);
   
  